/* 基本配置 */
html, body {
    font-family: PingFang SC, Helvetica, sans-serif !important;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: initial;
}

h1:focus {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

a, .btn-link {
    color: #0071c1;
}

/* Layout */

.content {
    padding-top: 1.1rem;
}

.body {
    background-image: linear-gradient(to bottom right, #ff6b6b, #7171ae, #10bce7);
}

.main {
    min-height: 100vh;
    padding: 10px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.desktop-phone{
    display: block !important;
}

.desktop-phone-flex{
    display: flex !important;
}

.phone-desktop-flex{
    display: none !important;
}

.phone-desktop{
    display: none !important;
}

.desktop-laptop{
    display: block;
}
/* 手机页面调整 */

@media screen and (max-width: 768px) {

    .container {
        border-radius: 0;
    }

    .content {
        padding-top: 0;
    }

    .main {
        padding: 0 !important;
    }

    .desktop-phone {
        display: none !important;
    }

    .phone-desktop{
        display: block !important;
    }

    .desktop-phone-flex{
        display: none !important;
    }

    .phone-desktop-flex{
        display: flex !important;
    }
}

@media screen and (max-width: 1199px) {
    .desktop-laptop {
        display: none !important;
    }
}